@import "tailwindcss";

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -2px); }
  to   { opacity: 1; transform: translate(-50%, 0); }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out forwards;
}

@keyframes slideIn {
  0% { transform: translateX(120%); opacity: 0; }
  60% { transform: translateX(-10%); opacity: 1; }
  100% { transform: translateX(0); opacity: 1; }
}

.animate-slideIn {
  animation: slideIn 0.4s ease-out forwards;
}
